.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    padding: 10px 0px;
    width: 100%;
}

.no-data-found {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 0px 30px;
}