@import '@angular/material/theming';
@include mat-core();
// Define your custom primary color, accent color, and warn color
$custom-primary: mat-palette($mat-indigo);
$custom-accent: mat-palette($mat-pink, A200);
$custom-warn: mat-palette($mat-red);
// Create the theme using your custom colors
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
// Include the theme styles in your application
@include angular-material-theme($custom-theme);
html,
body {
    height: 100%;
}